<!--================Top Header Area =================-->
<div class="header_top_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="top_header_left">
                        <div class="selector">
                            <select class="language_drop" name="countries" id="countries" style="width:300px;">
                                <option value='yt' data-image="/img/icon/flag-1.png" data-imagecss="flag yt" data-title="English">English</option>
                                <option value='yu' data-image="/img/icon/flag-1.png" data-imagecss="flag yu" data-title="Bangladesh">Bangla</option>
                                <option value='yt' data-image="/img/icon/flag-1.png" data-imagecss="flag yt" data-title="English">English</option>
                                <option value='yu' data-image="/img/icon/flag-1.png" data-imagecss="flag yu" data-title="Bangladesh">Bangla</option>
                            </select>
                        </div>
                        <select class="selectpicker usd_select">
                            <option>USD</option>
                            <option>$</option>
                            <option>$</option>
                        </select>
                        <div class="input-group">
                                <input type="text" class="form-control" placeholder="Category to search" aria-label="Search " id="search_txt" ;>
                                
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" id="search"  onclick="" >
                                        <i class="icon-magnifier"></i>
                                    </button>
                                </span>
                            </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="top_header_middle">
                        <a href="#">
                            <i class="fa fa-phone"></i> Call Us:
                            <span>+1 111 111 1111</span>
                        </a>
                        <a href="#">
                            <i class="fa fa-envelope"></i> Email:
                            <span>support@yourdomain.com</span>
                        </a>
                        <img src="/img/logo.png" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="top_right_header">
                        <ul class="header_social">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="top_right">
                            <li class="user">
                                <a href="login.html">
                                    <i class="icon-user icons"></i>
                                </a>
                            </li>
                            <li class="cart">
                                <a href="#">
                                    <i class="icon-handbag icons"></i>
                                </a>
                            </li>
                            <li class="h_price">
                                <select class="selectpicker">
                                    <option>$0.00</option>
                                    <option>$0.00</option>
                                    <option>$0.00</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================End Top Header Area =================-->
    
    <!--================Menu Area =================-->
    <header class="shop_header_area">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="/img/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav categories">
                        <li class="nav-item">
                            <select class="selectpicker" id="cat">
    
                            </select>
                        </li>
                    </ul>
                    <ul class="navbar-nav" id="main-nav">
    
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--================End Menu Area =================-->
    
    
    <!--================Slider Area =================-->
    <section class="main_slider_area">
        <div class="container">
            <div id="main_slider" class="rev_slider" data-version="5.3.1.6">
                <ul>
                    <li data-index="rs-1587" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
                        data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="/img/home-slider/slider-1.jpg"
                        data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3=""
                        data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                        data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="/img/home-slider/slider-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                            data-bgparallax="5" class="rev-slidebg" data-no-retina>
    
                        <!-- LAYER NR. 1 -->
                        <div class="slider_text_box">
                            <div class="tp-caption tp-resizeme first_text" data-x="['right','right','right','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['top','top','top','top']" data-voffset="['60','60','60','80','95']" data-fontsize="['54','54','54','40','40']"
                                data-lineheight="['64','64','64','50','35']" data-width="['470','470','470','300','250']" data-height="none"
                                data-whitespace="['nowrap','nowrap','nowrap','nowrap','nowrap']" data-type="text" data-responsive_offset="on"
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                                data-textAlign="['left','left','left','left','left','center']" style="z-index: 8;font-family: Montserrat,sans-serif;font-weight:700;color:#29263a;">
                                <img src="/img/home-slider/2017-text.png" alt="">
                            </div>
    
                            <div class="tp-caption tp-resizeme secand_text" data-x="['right','right','right','center','center',]" data-hoffset="['0','0','0','0']"
                                data-y="['top','top','top','top']" data-voffset="['255','255','255','230','220']" data-fontsize="['48','48','48','48','36']"
                                data-lineheight="['52','52','52','46']" data-width="['450','450','450','450','450']" data-height="none"
                                data-whitespace="normal" data-type="text" data-responsive_offset="on" data-transform_idle="o:1;"
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                                data-textAlign="['left','left','left','left','left','center']">Best Candy
                                <br />For Kids
                            </div>
    
                            <div class="tp-caption tp-resizeme third_btn" data-x="['right','right','right','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['top','top','top','top']" data-voffset="['385','385','385','385','350']" data-width="['450','450','450','auto','auto']"
                                data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                                data-textAlign="['left','left','left','left','left','center']">
                                <a class="checkout_btn" href="#">read more</a>
                            </div>
                        </div>
                    </li>
                    <li data-index="rs-1588" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
                        data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="/img/home-slider/slider-2.jpg"
                        data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3=""
                        data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                        data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="/img/home-slider/slider-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                            data-bgparallax="5" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYERS -->
    
                        <!-- LAYER NR. 1 -->
                        <div class="slider_text_box">
                            <div class="tp-caption tp-resizeme first_text" data-x="['right','right','right','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['top','top','top','top']" data-voffset="['60','60','60','80','95']" data-fontsize="['54','54','54','40','40']"
                                data-lineheight="['64','64','64','50','35']" data-width="['470','470','470','300','250']" data-height="none"
                                data-whitespace="['nowrap','nowrap','nowrap','nowrap','nowrap']" data-type="text" data-responsive_offset="on"
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                                data-textAlign="['left','left','left','left','left','center']" style="z-index: 8;font-family: Montserrat,sans-serif;font-weight:700;color:#29263a;">
                                <img src="/img/home-slider/2017-text.png" alt="">
                            </div>
    
                            <div class="tp-caption tp-resizeme secand_text" data-x="['right','right','right','center','center',]" data-hoffset="['0','0','0','0']"
                                data-y="['top','top','top','top']" data-voffset="['255','255','255','230','220']" data-fontsize="['48','48','48','48','36']"
                                data-lineheight="['52','52','52','46']" data-width="['450','450','450','450','450']" data-height="none"
                                data-whitespace="normal" data-type="text" data-responsive_offset="on" data-transform_idle="o:1;"
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                                data-textAlign="['left','left','left','left','left','center']">Best Candy
                                <br />Collection
                            </div>
    
                            <div class="tp-caption tp-resizeme third_btn" data-x="['right','right','right','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['top','top','top','top']" data-voffset="['385','385','385','385','350']" data-width="['450','450','450','auto','auto']"
                                data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                                data-textAlign="['left','left','left','left','left','center']">
                                <a class="checkout_btn" href="#">read more</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--================End Slider Area =================-->
    
    <!--================Our Latest Product Area =================-->
    
    
    <section class="our_latest_product">
        <div class="container">
            <div class="s_m_title">
                <h2>Our Top Candy's</h2>
            </div>
    
            <div class="l_product_slider owl-carousel">
                <div class="item">
                    <div class="l_product_item">
                        <div class="l_p_img">
                            <img src="/img/product/l-product-1.jpg" alt="">
                        </div>
                        <div class="l_p_text">
                            <ul id="loadcandy">
                                <li class="p_icon">
                                    <a href="#">
                                        <i class="icon_piechart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="add_cart_btn" href="#">Add To Cart</a>
                                </li>
                                <li class="p_icon">
                                    <a href="#">
                                        <i class="icon_heart_alt"></i>
                                    </a>
                                </li>
                            </ul>
                            <h4>Womens Libero</h4>
                            <h5>
                                <del>$45.50</del> $40</h5>
                        </div>
                    </div>
                    <div class="l_product_item">
                        <div class="l_p_img">
                            <img src="/img/product/l-product-5.jpg" alt="">
                        </div>
                        <div class="l_p_text">
                            <ul>
                                <li class="p_icon">
                                    <a href="#">
                                        <i class="icon_piechart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="add_cart_btn" href="#">Add To Cart</a>
                                </li>
                                <li class="p_icon">
                                    <a href="#">
                                        <i class="icon_heart_alt"></i>
                                    </a>
                                </li>
                            </ul>
                            <h4>Oxford Shirt</h4>
                            <h5>$85.50</h5>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="l_product_item">
                        <div class="l_p_img">
                            <img src="/img/product/l-product-2.jpg" alt="">
                        </div>
                        <div class="l_p_text">
                            <ul>
                                <li class="p_icon">
                                    <a href="#">
                                        <i class="icon_piechart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="add_cart_btn" href="#">Add To Cart</a>
                                </li>
                                <li class="p_icon">
                                    <a href="#">
                                        <i class="icon_heart_alt"></i>
                                    </a>
                                </li>
                            </ul>
                            <h4>Travel Bags</h4>
                            <h5>
                                <del>$45.50</del> $40</h5>
                        </div>
                    </div>
                    <div class="l_product_item">
                        <div class="l_p_img">
                            <img src="/img/product/l-product-6.jpg" alt="">
                        </div>
                        <div class="l_p_text">
                            <ul>
                                <li class="p_icon">
                                    <a href="#">
                                        <i class="icon_piechart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="add_cart_btn" href="#">Add To Cart</a>
                                </li>
                                <li class="p_icon">
                                    <a href="#">
                                        <i class="icon_heart_alt"></i>
                                    </a>
                                </li>
                            </ul>
                            <h4>High Heel</h4>
                            <h5>
                                <del>$130.50</del> $110</h5>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="l_product_item">
                        <div class="l_p_img">
                            <img src="/img/product/l-product-3.jpg" alt="">
                        </div>
                        <div class="l_p_text">
                            <ul>
                                <li class="p_icon">
                                    <a href="#">
                                        <i class="icon_piechart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="add_cart_btn" href="#">Add To Cart</a>
                                </li>
                                <li class="p_icon">
                                    <a href="#">
                                        <i class="icon_heart_alt"></i>
                                    </a>
                                </li>
                            </ul>
                            <h4>Summer Dress</h4>
                            <h5>$45.05</h5>
                        </div>
                    </div>
                    <div class="l_product_item">
                        <div class="l_p_img">
                            <img src="/img/product/l-product-7.jpg" alt="">
                        </div>
                        <div class="l_p_text">
                            <ul>
                                <li class="p_icon">
                                    <a href="#">
                                        <i class="icon_piechart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="add_cart_btn" href="#">Add To Cart</a>
                                </li>
                                <li class="p_icon">
                                    <a href="#">
                                        <i class="icon_heart_alt"></i>
                                    </a>
                                </li>
                            </ul>
                            <h4>Fossil Watch</h4>
                            <h5>$250.00</h5>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="l_product_item">
                        <div class="l_p_img">
                            <img src="/img/product/l-product-4.jpg" alt="">
                        </div>
                        <div class="l_p_text">
                            <ul>
                                <li class="p_icon">
                                    <a href="#">
                                        <i class="icon_piechart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="add_cart_btn" href="#">Add To Cart</a>
                                </li>
                                <li class="p_icon">
                                    <a href="#">
                                        <i class="icon_heart_alt"></i>
                                    </a>
                                </li>
                            </ul>
                            <h4>Nike Shoes</h4>
                            <h5>
                                <del>$130</del> $110</h5>
                        </div>
                    </div>
                    <div class="l_product_item">
                        <div class="l_p_img">
                            <img src="/img/product/l-product-8.jpg" alt="">
                        </div>
                        <div class="l_p_text">
                            <ul>
                                <li class="p_icon">
                                    <a href="#">
                                        <i class="icon_piechart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="add_cart_btn" href="#">Add To Cart</a>
                                </li>
                                <li class="p_icon">
                                    <a href="#">
                                        <i class="icon_heart_alt"></i>
                                    </a>
                                </li>
                            </ul>
                            <h4>Ricky Shirt</h4>
                            <h5>$45.05</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Our Latest Product Area =================-->
    <!-- browse container -->
    
    <section class="our_latest_product">
    
        <div class="container">
            <div class="s_m_title">
                <h2>Hurray Candy's!</h2>
            </div>
            <div class="item" id="productCard">
    
            </div>
    
            <a href="#">Prev</a>
            <div align="right">
    
                <a href="#">Next</a>
            </div>
        </div>
    </section>
    
    
    
    
    
    
    
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Rev slider js -->
    <script src="vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <!-- Extra plugin css -->
    <script src="vendors/counterup/jquery.waypoints.min.js"></script>
    <script src="vendors/counterup/jquery.counterup.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
    <script src="vendors/image-dropdown/jquery.dd.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="vendors/isotope/isotope.pkgd.min.js"></script>
    <script src="vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
    <script src="vendors/vertical-slider/js/jQuery.verticalCarousel.js"></script>
    <script src="vendors/jquery-ui/jquery-ui.js"></script>
    <script src="scripts/navigation.js"></script>
    <script src="scripts/categories.js"></script>
    <script src="scripts/browse.js"></script>
    
    <script src="scripts/search.js"></script>
    <script>
       
    </script>